<!DOCTYPE html>
<html>
<head>
  <title>发布帖子</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* 自定义样式 */
    form {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
      margin-top: 50px;
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 5px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    button[type="submit"] {
      padding: 10px 20px;
    }
  </style>
</head>
<body>
  <form id="postForm">
    <div class="form-group">
      <label for="title">标题</label>
      <input type="text" id="title" name="title" class="form-control" placeholder="请输入标题">
    </div>

    <div class="form-group">
      <label for="content">内容</label>
      <textarea id="content" name="content" class="form-control" placeholder="请输入内容"></textarea>
    </div>

    <div class="form-group">
      <label for="image">图片上传</label>
      <!-- <input type="file" id="image" name="file" class="form-control-file"> -->
      <input id="fileupload"  id="image" type="file" class="form-control-file" name="file">
    </div>
    <input id="fileupload" type="file" class="form-control" name="file">
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    let picUrl = ""
    $(document).ready(function() {
      $('#postForm').submit(function(event) {
        event.preventDefault();

        var title = $('#title').val();
        var content = $('#content').val();
        // 获取文件对象
        var file = $('#image')[0].files[0];


        const _userInfo = localStorage.getItem("userInfo")
        const userInfo = JSON.parse(_userInfo)

        const data = {
            title,
            content,
            file,
            userId: userInfo.userId || userInfo.id
        }
        

        $.ajax({
                type: "post",
                url: "/picLoad",
                data: data,
                contentType: false,
                //默认文件类型application/x-www-form-urlencoded  设置之后multipart/form-data
                processData: false,
                // 默认情况下会对发送的数据转化为对象 不需要转化的信息
                success: function (res) {
                    source = res.picAddr;
                },
            });


        // 清空表单字段
        $('#title').val('');
        $('#content').val('');
        $('#image').val('');

        alert('帖子发布成功！');
      });
    });
  </script>
</body>
</html>