<!DOCTYPE html>
<html>
<head>
  <title>发布帖子</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <style>
    
    *{
            margin: 0;
            padding: 0;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        header nav {
            margin: 20px 0 0 0 ;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }
    /* 自定义样式 */
    form {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
      margin-top: 50px;
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 5px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    button[type="submit"] {
      padding: 10px 20px;
    }
  </style>
</head>
<body>
  <header>
    <h1>米哈游社区</h1>
    <nav>
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">登录</a></li>
            <li><a href="#">新闻</a></li>
            <li><a href="#">角色</a></li>
            <li><a href="#">世界</a></li>
            <li><a href="#">漫画</a></li>
            <li><a href="#">社区</a></li>
            <li><a href="#">信使</a></li>
            <li><a href="#">版本更新</a></li>
        </ul>
    </nav>
</header>
  <form id="postForm">
    <div class="form-group">
      <label for="title">标题</label>
      <input type="text" id="title" name="title" class="form-control" placeholder="请输入标题">
    </div>

    <div class="form-group">
      <label for="content">内容</label>
      <textarea id="content" name="content" class="form-control" placeholder="请输入内容"></textarea>
    </div>

    <div class="form-group">
        原神：<input type="radio"  id="r-ys" name="TYPE" value="1" onclick="selectYs()"/>
        崩三：<input type="radio"  id="r-bs" name="TYPE" value="2" onclick="selectBs()"/>
    </div>

    <div class="form-group">
      <label for="image">图片上传</label>
      <!-- <input type="file" id="image" name="file" class="form-control-file"> -->
      <input id="fileupload"  id="image" type="file" class="form-control-file" name="file">
    </div>

    <div class="form-group" >
        <button type="button" class="btn btn-primary" onclick="submit()">提交</button>
        <button type="button" class="btn btn-secondary" onclick="cancel()">取消</button>
    </div>

  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>

    let type = ""
    let picUrl = ""

    function selectYs(){
      type = 1
    }
    function selectBs(){
      type = 2
    }

    function submit(){
        var title = $('#title').val();
        var content = $('#content').val();
        var isYs = $('#r-ys').val();
        var isBs = $('#r-bs').val();
        // 获取文件对象
        var img = picUrl;

        const _userInfo = localStorage.getItem("userInfo")
        const userInfo = JSON.parse(_userInfo)

        const data = {
            title,
            content,
            img:picUrl,
            type,
            userId: userInfo.userId || userInfo.id
        }

        axios.post("/post/savePosts",data).then(res=>{
                console.log(res);
                if(res.data.affectedRows >= 1){
                    alert("发布成功")
                    // window.ref
                }
            })

        console.log(data);
    }

    function cancel(){
      $('#title').val('');
      $('#content').val('');
    }

    $("#fileupload").on("change", function () {
            var file = this.files[0];
            var data = new FormData();
            data.append("file", file);
            console.log(data);
            console.log(file);
            $.ajax({
                type: "post",
                url: "/picLoad",
                data: data,
                contentType: false,
                //默认文件类型application/x-www-form-urlencoded  设置之后multipart/form-data
                processData: false,
                // 默认情况下会对发送的数据转化为对象 不需要转化的信息
                success: function (res) {
                    // source = res.picAddr;
                    picUrl = res
                },
            });
        })
        
      
  </script>
</body>
</html>