<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>原神热门角色</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: rgb(243, 230, 241);
        }
        .shell{
            width: 90%;
            height: 700px;
            display: flex;
        }
        .box{
            flex: 1;
            overflow: hidden;
            transition: .5s;
            margin: 0 20px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
            border-radius: 20px;
            /* border: 10px solid #fff; */
            /* background-color: #fff; */
        }
        .box>img{
            width: 200%;
            height: 85%;
            object-fit: cover;
            transition: .5s;
        }
        .box>span{
            font: 200 45px '优设标题黑';
            text-align: center;
            height: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: aliceblue;
        }
        .box:hover{
            flex-basis: 40%;
        }
        .box:hover>img{
            width: 100%;
            height: 100%;
        }
		 .boy-video {position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -9999;
}
    </style>
</head>

<body>
    <div class="shell">
        <div class="box">
            <img src="/images/ys/roles/c7f7a9f1264209719e309233167b2c7.png">
            <span>枫原万叶</span>
        </div>
        <div class="box">
            <img src="/images/ys/roles/艾尔海森.png">
            <span>艾尔海森</span>
        </div>
        <div class="box">
            <img src="/images/ys/roles/雷神.png">
            <span>雷电将军</span>
        </div>
        <div class="box">
            <img src="/images/ys/roles/宵宫.png">
            <span>霄宫姐姐</span>
        </div>
        <div class="box">
            <img src="/images/ys/roles/优菈.png">
            <span>优菈骑士</span>
        </div>
		 <div class="box">
            <img src="/images/ys/roles/钟离.png">
            <span>摩拉克斯</span>
        </div>
    </div>
	<div class="boy-video">
	  <video autoplay muted loop style="width: 100%;">
	<source src="/images/video/shouye background.mp4"/>
	  </video>
	</div>	
</body>

</html>