<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">

		<title>崩坏官网首页</title>

		<style>			
		.image_div{
				height: 150px;
				width: 200px;
				float: left;
			}
			.head-nav{
    width: 80%;
    height: 134px;
    margin-top: 33px;
    margin-left: 157px;
    margin-bottom: 105px;
    float: left;
    margin-right: -54px;
			}
			.mynav{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 0px;
    margin-bottom: 4px;
			}
			.mydiv{
    float: left;
    width: 88%;
    margin-top: -52%;
    margin-right: 33%;
    margin-left: 41%;
    margin-bottom: 49%;
    height: 612px;
			}
			.boy-video video{
				position: fixed;
				right: 0;
				bottom: 0;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -9999;
			}
			.boy-video video{
				position: fixed;
				right: 0;
				bottom: 0;
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				z-index: -9999;
			}
			.mynav a{
				margin: 10px 10px;
			}
		.nei-rong-div {
    border-radius: 20px;
    margin-right: -147px;
    margin-top: -39px;
    margin-bottom: 152px;
    margin-left: 180px;
}
.nei-rong-div-right {
    border-radius: 95px;
    float: right;
    width: 13%;
    margin-right: -68%;
    margin-left: -20%;
    margin-bottom: -4%;
    height: 540px;
    margin-top: 0px;
}
        .nei-rong-p {
    color: #004165;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 3%;
    margin-bottom: -6%;
    padding-top: 4%;
    padding-right: 5px;
    padding-left: 20px;
    padding-bottom: 0%;
    line-height: 26px;
}
        .nei-rong-p2 {
    color: #004165;
    margin: 2% 5%;
    padding: 4% 0;
    line-height: 26px;
}
        .nei-rong-div-left {
    width: 181px;
    margin-top: -302px;
    margin-right: -359px;
    margin-left: -218px;
    margin-bottom: -359px;
    height: 170px;
}
        </style>
        <script>
            		function toUserInfo(){
			let _userInfo = localStorage.getItem("userInfo")
			let userInfo = JSON.parse(_userInfo)
			let { userId } = userInfo
			window.open("/userInfo/"+userId);
		}
		function toCommunity(){
			let _userInfo = localStorage.getItem("userInfo")
			let userInfo = JSON.parse(_userInfo)
			let { userId } = userInfo
			window.open("/community/"+userId);
		}
        </script>
		<link href="stylesheets/indexcss.css" rel="stylesheet" type="text/css">
		<style type="text/css">
		a:link {
    color: #F28306;
}
a:visited {
    color: #F77C03;
}
        a:hover {
    color: #fff;
    text-shadow: 0 0 10px #69e0ff, 0 0 20px #69e0ff, 0 0 40px #69e0ff;
}
a:active {
    color: #F99604;
}
        body,td,th {
    color: #070707;
}
        body {
    background-color: #BFEFF5;
}
        </style>
    </head>

	<body>
		<div class="image_div">
			<img src="/images/bh/logo2.png" width="200" height="150" alt="" /><img src="/images/ys/12+.png"   width="123" height="145" alt=""/>
		  <a><audio autoplay loop src="/images/video/xmusic.mp3"></audio></a>
	</div>
		
<div class="head-nav">
	<nav class="mynav">
        <span
        style="font-size: 24px; font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, sans-serif; color: #EFE5E5;">
        <a href="/homeYs">首页</a>
        <a href="/loginYs">登录</a>
        <a href="/news">新闻</a>
        <a href="/ys/roles">角色</a>
        <a href="/ys/world">世界</a>
        <a href="https://ys.mihoyo.com/main/manga">漫画</a>
        <a onclick="toCommunity()">社区</a>
        <a onclick="toUserInfo()">信使</a>
        <a href="#">版本更新</a>
    </span>
			</nav>
		</div>
		
	<div class="mydiv">
	<div class="nei-rong-div-right">
		<p><img src="/images/bh/right1.png" width="386" height="596" alt=""/></p>
		<p><img src="/images/bh/right2.png" width="386" height="796" alt=""/></p>
		
	    </div>	
	<div class="nei-rong-div-right">
		
		
	    </div>
	<h3 class="jz text1">游戏介绍</h3>
	<p class="jz text1">Game description</p>
	<div class="nei-rong-div">
	<p class="nei-rong-p" style="text-align: left;">
    《崩坏：星穹铁道》是上海米哈游网络科技股份有限公司自研的银河冒险策略游戏。游戏于2021年10月27日-2021年11月1日开启“始发测试” ，2022年5月25日-2022年6月15日开启“漫游测试” ，2023年2月10日-2023年3月24日开启“跃迁测试” ，2023年4月26日正式开启全平台公测  。
     游戏中，玩家将在游戏中登上星穹列车，造访寓居宇宙的万象世界，携手形形色色的旅伴，解救“星核”引发的种种危机，对抗“星神”践踏文明的意图。
	</p>
	</div>
	<h3 class="jz text1" >剧情介绍</h3>
	<p class="jz text1">Game Background</p>
	<div>
	<div class="nei-rong-div">	
	<p class="nei-rong-p2" style="text-align: left;">这片银河中有名为“星神”的存在，他们造就现实，抹消星辰，在无数“世界”中留下他们的痕迹。
     你——一名特殊的旅客，将与继承“开拓”意志的同伴一起，乘坐星穹列车穿越银河，沿着某位“星神”曾经所行之途前进。
     你将由此探索新的文明，结识新的伙伴，在无数光怪陆离的“世界”与“世界”之间展开新的冒险。所有你想知道的，都将在群星中找到答案。
     那么，准备好开始这段“开拓”之旅了吗？
     愿此行，终抵群星。
	</p>
    </div>
	<h3 class="jz text1" >宣传视频</h3>
	<p class="jz text1">Promotional video</p>
	<p><video class="yuanjiao2"muted controls  autoplay style="width: 100%;" src="images/video/xcsp3.mp4">
	</video>
	<footer class="jz myfooter">
		<img src="images/bh/glogo.png" width="131" height="131" alt=""/>
		<img src="images/ys/下载方式5.png" width="111" height="111" alt=""/>
		<img src="images/ys/下载方式1.png" width="163" height="57" alt=""/>
		<img src="images/ys/下载方式4.png" width="163" height="57" alt=""/>
	</footer>
	<footer class="jz myfooter"><img src="images/ys/mihoyo-logo.png"  width="583" height="87" alt=""/></footer>
	<footer class="jz myfooter">
		用户协议 | 隐私政策 | 儿童隐私政策 | 自律公约 | 家长监护工程 | 关于我们 | 联系我们 | 加入我们 健康游戏忠告：抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。
	</footer>	
	</p>
	<div class="boy-video">
	  <video autoplay muted loop style="width: 100%;">
				<source src="/images/video/background2.mp4"/>
	  </video>
		
	</div>
	
	</body>

</html>
